 /* Hiệu ứng nổi chung */
.stat-card:hover,
.review-card:hover,
.section-box:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

    * {
  transition: all 0.2s ease-in-out;
}

    * { box-sizing: border-box; margin: 0; padding: 0; }
    body {
      font-family: 'Segoe UI', sans-serif;
      min-height: 100vh;
      background: #e9f1fb;
      display: flex;
      overflow-x: hidden;
    }
    .sidebar {
  width: 220px;
  background: linear-gradient(145deg, #2170b9, #3d78f7); /* tím than đậm */
  color: #eee;


 
  padding: 30px 20px;
  font-size: 16px;
  position: fixed;
  left: 0; top: 0; bottom: 0;
  overflow-y: auto;
  z-index: 10;
  color: white;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1);
}

.sidebar h3 {
  color: #fff;
}

.sidebar a {
  text-decoration: none;
  color: white;
  margin: 10px 0;
  display: block;
  padding: 12px 14px;
  border-radius: 10px;
  transition: all 0.25s ease;
  font-weight: 500;
  position: relative;
}

.sidebar a:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: translateY(-2px) scale(1.03);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  color: #ffe8ff;
}

.sidebar a i {
  margin-right: 10px;
  width: 20px;
  text-align: center;
}
